body {

color: rgb(255, 255, 255);
background: black;
margin: 0px; } 

 header {
border-bottom: solid 2px rgb(228, 42, 98);
padding: 20px;
font-size: 42px;
color: rgb(228, 42, 150);
}
section {
background: rgb(240, 4, 4);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}